body{
    background-color: beige;
}
#ime{
    text-align: center;
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 3px ;
}
.naslov{
    color: black;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}
#omeni{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
}
img{
    border: 5px dotted aqua;
}
a{
    font-size: large;
}
td{
    color: palevioletred;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;

}
#Hobi{
text-align: center;
border: 3px solid purple;
}
